{% extends 'base.html.twig' %}

{% block title %}
    Умный дом
{% endblock %}

{% block body %}
    <h3><a class="actions" href="{{ path('house_index') }}">Дома</a></h3>
    <h3><a class="actions" href="{{ path('room_index') }}">Комнаты</a></h3>
    <h3><a class="actions" href="{{ path('device_index') }}">Устройства</a></h3>
    <h3><a class="actions" href="{{ path('device_type_index') }}">Типы устройств</a></h3>
    <h3><a class="actions" href="{{ path('user_index') }}">Пользователи</a></h3>
    <h3>
        {% if app.user %}
            <a class="actions" href="{{ path('app_logout')}}">Выйти</a>
        {% else %}
            <a class="actions" href="{{ path('app_login')}}">Войти</a>
        {% endif %}
    </h3>
{% endblock %}