{% extends 'base.html.twig' %}

{% block title %}Редактировать устройство{% endblock %}

{% block body %}
    <h1>Редактировать устройство</h1>
    {% if app.user in device.room.house.users%}
    {{ include('device/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="actions" href="{{ path('device_index') }}">Назад к списку</a>

    {{ include('device/_delete_form.html.twig') }}
    {% else %}
        <div>Вы не являетесь владельцем данного устройства</div>
    {% endif %}

{% endblock %}
