{% extends 'base.html.twig' %}

{% block title %}Мои устройства{% endblock %}

{% block body %}
    <h1>Мои устройства</h1>
    {% if app.user%}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Тип</th>
                <th>Состояние</th>
                <th>Мощность</th>
                <th>Описание</th>
                <th>действия</th>
            </tr>
        </thead>
        <tbody>
        {% for device in devices if app.user in device.room.house.users%}
            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.name }}</td>
                <td>{{ device.type }}</td>
                <td>{{ device.isOn ? 'Вкл' : 'Выкл' }}</td>
                <td>{{ device.power }}</td>
                <td>{{ device.description }}</td>
                <td>
                    <a href="{{ path('device_show', {'id': device.id}) }}">показать</a>
                    <a href="{{ path('device_edit', {'id': device.id}) }}">редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a class="actions" href="{{ path('device_new') }}">Создать</a>
        <a class="actions" href="{{ path('home') }}">На главную</a>
    {% else %}
        <div>Войдите чтобы просмотреть ваши устройства</div>
    {% endif %}

{% endblock %}
