{% extends 'base.html.twig' %}

{% block title %}Новое устройство{% endblock %}

{% block body %}
    <h1>Новое устройство</h1>
    {% if app.user%}
    {{ include('device/_form.html.twig') }}

    <a class="actions" href="{{ path('device_index') }}">назад к списку</a>
    {% else %}
        <div>Войдите чтобы создать устройство</div>
    {% endif %}

{% endblock %}
