{% extends 'base.html.twig' %}

{% block title %}Device{% endblock %}

{% block body %}
    <h1>Мои устройства</h1>
    {% if app.user%}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ device.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ device.name }}</td>
            </tr>
            <tr>
                <th>Тип</th>
                <td>{{ device.type }}</td>
            </tr>
            <tr>
                <th>Состояние</th>
                <td>{{ device.isOn ? 'Вкл' : 'Выкл' }}</td>
            </tr>
            <tr>
                <th>Мощность</th>
                <td>{{ device.power }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ device.description }}</td>
            </tr>
        </tbody>
    </table>


        <a class="actions" href="{{ path('device_index') }}">Назад к списку</a>
        <a class="actions" href="{{ path('device_edit', {'id': device.id}) }}">Редактировать</a>

    {{ include('device/_delete_form.html.twig') }}
    {% else %}
        <div>Войдите чтобы просмотреть устройство</div>
    {% endif %}
{% endblock %}
