{{ form_start(form) }}
    <h3> Устройства</h3>
    <ul class="devices" data-prototype="{{ form_widget(form.devices.vars.prototype)|e('html_attr') }}">
        {% for dev in form.devices %}
            <li>{{ form_row(dev) }}</li>
        {% endfor %}
    </ul>
    {{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<script>
    let $deviceCollectionHolder;
    let $addDeviceButton = $('<button type="button" class="add_device_link">Добавить устройство</button>');
    let $newDeviceLinkLi = $('<li></li>').append($addDeviceButton);

    jQuery(document).ready(function() {

        $deviceCollectionHolder = $('ul.devices');

        $deviceCollectionHolder.find('li').each(function() {
            addDeviceFormDeleteLink($(this));
        });

        $deviceCollectionHolder.append($newDeviceLinkLi);


        $deviceCollectionHolder.data('index', $deviceCollectionHolder.find(':input').length);

        $addDeviceButton.on('click', function(e) {
            addDeviceForm($deviceCollectionHolder, $newDeviceLinkLi);
        });
    });

    function addDeviceForm($collectionHolder, $newLinkLi) {

        let prototype = $collectionHolder.data('prototype');
        let index = $collectionHolder.data('index');
        let newForm = prototype;

        console.log(newForm);

        newForm = newForm.replace(/__name__/g, index);
        console.log(newForm);


        $collectionHolder.data('index', index + 1);

        let $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
        addDeviceFormDeleteLink($newFormLi);
    }


    function addDeviceFormDeleteLink($deviceFormLi) {
        let $removeFormButton = $('<button type="button">Удалить устройство</button>');
        $deviceFormLi.append($removeFormButton);

        $removeFormButton.on('click', function(e) {
            $deviceFormLi.remove();
        });
    }
</script>

