{% extends 'base.html.twig' %}

{% block title %}Редактировать комнату{% endblock %}

{% block body %}
    <h1>Редактировать комнату</h1>
    {% if app.user in room.house.users%}
    {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="actions" href="{{ path('room_index') }}">Назад к списку</a>

    {{ include('room/_delete_form.html.twig') }}
    {% else %}
        <div>Вы не являетесь владельцем данной комнаты</div>
    {% endif %}
{% endblock %}
