{% extends 'base.html.twig' %}

{% block title %}Мои комнаты{% endblock %}

{% block body %}
    <h1>Мои комнаты</h1>
    {% if app.user%}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms if app.user in room.house.users %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>
                <td>
                    <a href="{{ path('room_show', {'id': room.id}) }}">показать</a>
                    <a href="{{ path('room_edit', {'id': room.id}) }}">редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">У вас нет комнаты</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="actions" href="{{ path('room_new') }}">Создать новую</a>
    <a class="actions" href="{{ path('home') }}">На главную</a>
    {% else %}
        <div>Войдите чтобы просмотреть ваши комнаты</div>
    {% endif %}
{% endblock %}
