{% extends 'base.html.twig' %}

{% block title %}Создать новую комнату{% endblock %}

{% block body %}
    <h1>Создать новую комнату</h1>
    {% if app.user %}
    {{ include('room/_form.html.twig') }}

    <a class="actions" href="{{ path('room_index') }}">Назад к списку</a>
    {% else %}
        <div>Войдите чтобы создать комнату</div>
    {% endif %}
{% endblock %}
