{% extends 'base.html.twig' %}

{% block title %}Комната{% endblock %}

{% block body %}
    <h1>Комната</h1>
    {% if app.user in room.house.users%}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ room.name }}</td>

            </tr>
            <tr>
                <th>Устройства</th>
                <td>{% for dev in room.devices %}<a href="{{ path('device_show', {'id': dev.id}) }}">{{  dev.name }}</a> {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <a class="actions" href="{{ path('room_index') }}">back to list</a>

    <a class="actions" href="{{ path('room_edit', {'id': room.id}) }}">edit</a>

    {{ include('room/_delete_form.html.twig') }}
    {% else %}
        <div>Вы не являетесь владельцем данной комнаты</div>
    {% endif %}
{% endblock %}
