{% extends 'base.html.twig' %}

{% block title %}Edit House{% endblock %}

{% block body %}
    <h1>Edit House</h1>
    {% if app.user in house.users%}
    {{ include('house/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="actions" href="{{ path('house_index') }}">back to list</a>

    {{ include('house/_delete_form.html.twig') }}
    {% else %}
        <div>Вы не являетесь владельцем данного дома</div>
    {% endif %}
{% endblock %}
