{% extends 'base.html.twig' %}

{% block title %}House index{% endblock %}

{% block body %}
    <h1>Дома</h1>
    {% if app.user%}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>действия</th>
            </tr>
        </thead>
        <tbody>
        {% for house in houses if app.user in house.users%}
            <tr>
                <td>{{ house.id }}</td>
                <td>{{ house.name }}</td>
                <td>
                    <a href="{{ path('house_show', {'id': house.id}) }}">показать</a>
                    <a href="{{ path('house_edit', {'id': house.id}) }}">редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="actions" href="{{ path('house_new') }}">Создать</a>
    <a class="actions" href="{{ path('home') }}">На главную</a>
    {% else %}
        <div>Войдите чтобы просмотреть ваши дома</div>
    {% endif %}
{% endblock %}
