{% extends 'base.html.twig' %}

{% block title %}Новый дом{% endblock %}

{% block body %}
    <h1>Создание нового дома</h1>
    {% if app.user %}
    {{ include('house/_form.html.twig') }}

    <a class="actions" href="{{ path('house_index') }}">назад к списку</a>
    {% else %}
        <div>Войдите чтобы создать дом</div>
    {% endif %}
{% endblock %}
