{% extends 'base.html.twig' %}

{% block title %}House{% endblock %}

{% block body %}
    <h1>Дом</h1>
    {% if app.user in house.users %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ house.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ house.name }}</td>
            </tr>
            <tr>
                <th>Комнаты</th>
                <td>{% for room in house.rooms %}<a href="{{ path('room_show', {'id': room.id}) }}">{{  room.name }}</a> {% endfor %}</td>
            </tr>
            <tr>
                <th>Пользователи</th>
                <td>{% for user in house.users %}<a href="{{ path('user_show', {'id': user.id}) }}">{{  user.fullname }}</a> {% endfor %}</td>
            </tr>
        </tbody>
    </table>
        <a class="actions" href="{{ path('house_index') }}">Назад к списку</a>

        <a class="actions" href="{{ path('house_edit', {'id': house.id}) }}">Редактировать</a>
        {{ include('house/_delete_form.html.twig') }}
    {% else %}
    <div>Вы не являетесь владельцем данного дома</div>
    {% endif %}


{% endblock %}
