{% extends 'base.html.twig' %}

{% block title %}Edit DeviceType{% endblock %}

{% block body %}
    <h1>Редактировать тип устройств</h1>
    {% if app.user%}
    {{ include('device_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('device_type_index') }}">назад к списку</a>

    {{ include('device_type/_delete_form.html.twig') }}
    {% else %}
        <div>Войдите чтобы просмотреть ваши устройства</div>
    {% endif %}
{% endblock %}
