{% extends 'base.html.twig' %}

{% block title %}DeviceType index{% endblock %}

{% block body %}
    <h1>Типы устройств</h1>
    {% if app.user%}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>действия</th>
            </tr>
        </thead>
        <tbody>
        {% for device_type in device_types %}
            <tr>
                <td>{{ device_type.id }}</td>
                <td>{{ device_type.name }}</td>
                <td>
                    <a href="{{ path('device_type_show', {'id': device_type.id}) }}">показать</a>
                    <a href="{{ path('device_type_edit', {'id': device_type.id}) }}">редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="actions" href="{{ path('device_type_new') }}">Создать</a>
        <a class="actions" href="{{ path('home') }}">На главную</a>
    {% else %}
        <div>Войдите чтобы просмотреть ваши устройства</div>
    {% endif %}
{% endblock %}
