{% extends 'base.html.twig' %}

{% block title %}Новый тип{% endblock %}

{% block body %}
    <h1>Создать новый тип устройств</h1>
    {% if app.user %}
    {{ include('device_type/_form.html.twig') }}

    <a href="{{ path('device_type_index') }}">назад к списку</a>
    {% else %}
    <div>Вы не являетесь владельцем данного дома</div>
    {% endif %}
{% endblock %}
