{% extends 'base.html.twig' %}

{% block title %}Типы устройств{% endblock %}

{% block body %}
    <h1>Типы устройств</h1>
    {% if app.user%}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ device_type.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ device_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('device_type_index') }}">назад к списку</a>

    <a href="{{ path('device_type_edit', {'id': device_type.id}) }}">редактировать</a>

    {{ include('device_type/_delete_form.html.twig') }}
    {% else %}
        <div>Вы не являетесь владельцем данного дома</div>
    {% endif %}
{% endblock %}
