{% extends 'base.html.twig' %}

{% block title %}Редактировать пользователя{% endblock %}

{% block body %}
    <h1>Редактировать пользователя</h1>
    {% if user === app.user %}
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="actions" href="{{ path('user_index') }}">Назад к списку</a>

    {{ include('user/_delete_form.html.twig') }}
    {% else %}
        <div>У вас нет доступа к этому пользователю/div>
    {% endif %}
{% endblock %}
