{% extends 'base.html.twig' %}

{% block title %}Пользователи моих домов{% endblock %}

{% block body %}
    <h1>Пользователи моих домов</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Зарегистрирован</th>
            </tr>
        </thead>
        <tbody>
        {% for house in app.user.houses %}
            {% for user in house.users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="actions" href="{{ path('home') }}">На главную</a>
<!--<a href="{{ path('user_new') }}">Create new</a>-->
{% endblock %}
